/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del login */
.login-box {
  background-color: white;
  padding: 2rem;
  border: 2px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(50, 46, 46);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* Imágenes decorativas en login */
.login-image1 {
  position: absolute;
  top: -60px;
  left: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 2;
}

.login-image2 {
  position: absolute;
  top: -30px;
  left: 350px;
  width: 95px;
  height: 110px;
  border-radius: 10%;
  transform: rotate(5deg);
  z-index: 2;
}

.login-image3 {
  position: absolute;
  top: 53%;
  left: -80px;
  width: 110px;
  height: 100px;
  border-radius: 10%;
  transform: rotate(-5deg);
  z-index: 2;
}

.login-image4 {
  position: absolute;
  top: 75%;
  left: 89%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 2;
}

/* Contenedor principal del login */
.login-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(153deg, #3498db 50%, #ffffff 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inputs del login */
.login-container input {
  margin: 0.5rem 0;
  padding: 0.7rem;
  width: 220px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.login-container h2 {
  color: #000000;
  margin-bottom: 1rem;
}

.login-container button {
  margin-top: 2rem;
  padding: 1rem 1rem;
  background-color: #3498db;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.login-error {
  color: red;
  margin-top: 1rem;
  display: none;
}

.final-line-fixed {
  position: fixed;
  bottom: 0;
  left: 8%;
  width: 91%;
  border: none;
  border-top: 2px solid #000;
  z-index: 999;
  bottom: 25px;
}

/* Título principal */
h1 {
  padding: 15px;
  text-align: center;
  background-color: #2dacff;
  font-family: "DM Serif Text", serif;
  letter-spacing: 0.25em;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Contenedor principal de la app */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

form {
  display: flex;
  gap: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 15px 10px;
  outline: none;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.btn-add {
  background-color: #82CAF7;
  padding: 10px;
}


/* Cada elemento de la lista */
li {
  display: flex;
  flex-direction: row; /* Elementos en fila */
  justify-content: space-between; /* Distribuye espacio entre ellos */
  align-items: center; /* Alinea verticalmente */
  padding: 15px;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  gap: 10px; /* Espacio entre los elementos internos */
}

/* Nombre del producto */
.li-container {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0 auto;
  max-width: 560px;
}

li .content {
  font-size: 16px;
  color: black;
  flex: 2;
}

li .price {
  font-size: 16px;
  color: rgb(0, 0, 0);
  flex: 1;
  text-align: center;
}

.actions {
  display: flex;
  gap: 15px;
  flex: 1;
  justify-content: flex-end;
}


/* Estilo de los botones */
.btn-editar,
.btn-completar,
.btn-eliminar-img {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* Estilo de las imágenes de los botones */
.btn-editar img,
.btn-completar img,
.btn-eliminar-img img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin: 0;
  border-radius: 40%;
  transition: all 0.2s ease;
  background: none;
  border: none;
}

/* Hover opcional */
.btn-editar:hover,
.btn-completar:hover,
.btn-eliminar-img:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Estado completado */
li.completada {
  background-color: #d4edda;
  border: 2px solid #28a745;
}

li.completada .content {
  text-decoration: line-through;
  color: #6c757d;
}

li.completada .date-time {
  color: #6c757d;
}

.total-container {
  margin-top: 30px;
}


.total-label {
  justify-content: space-between; /* Distribuye espacio entre ellos */
  padding: 15px;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
}

.total-value {
  justify-content: space-between; /* Distribuye espacio entre ellos */
  padding: 15px;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
}

/* Footer */
footer {
  margin-top: 20px;
  font-family: "Cabin", sans-serif;
  color: #666;
  text-align: center;
}

footer {
  display: none;
}